      .number {
      float: right;
      width: 50px;
      height: 50px;
      border: 1px solid #73AD21;
      }
      
      .number2 {
      float: right;
      width: 50px;
      height: 50px;
      border: 1px solid #73AD21;
      clear: right;
      }
      
      .multiplier1 {
      float: right;
      width: auto;
      height: auto;
      border: 1px solid red;
      }

      .newblock {
      float: right;
      width: auto;
      height: auto;
      border: 1px solid red;
      clear: right;
      }
      
      .multiplesign {
      width: 50px;
      height: 102px;
      border: 1px solid #73AD21;
      }
      
      .div6 {
      float: right;
      width: 100px;
      height: 100px;
      margin: 1px;
      border: 3px solid #73AD21;
      }

      .center {
      margin: auto;
      width: 316px;
      height: 266px;
      border: 3px solid blue;
      
      }

      p {
	  text-align: center;
      }

      h1 {
	  text-align: center;
      }

      .operation {
	  padding-top: 25px;
      }